.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.uploader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.addAvatar {
  margin-top: 30px;
}